<?xml version="1.0" encoding="UTF-8"?>

<!--这些命名空间必须加，否则“找不到元素 'beans' 的声明”-->
<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- HandlerMapping -->
    <!--BeanNameUrlHandlerMapping：表示将请求的URL和Bean名字映射，如URL为 “上下文/hello”，则Spring配置文件必须有一个名字为“/hello”的Bean，上下文默认忽略。-->
    <!--<bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>-->

    <!--这个bean的name必须与web.xml中的url-pattern完全相同，不然报404-->
    <!--<bean name="/springMVC/helloWorldBasic.jsp" class="com.corp.will.controller.HelloWorldBasicController"/>-->
    <!--<bean name="/springMVC/AddAttribute.jsp" class="com.corp.will.controller.AddAttributeController"/>-->


    <context:component-scan base-package="com.corp.will.controller"/>
    <!--跟上面的HandlerMapping不能共存-->
    <bean class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />

    <!--视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--这个是需要的-->
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>
</beans>